fastapi==0.115.12
fastapi-cli==0.0.7
fastapi-mcp==0.3.3
fastmcp==2.10.4
gradio==5.29.0
huggingface-hub==0.30.2
mcp==1.8.
numpy==2.2.4
openai==1.77.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
python-dotenv==1.1.0
requests==2.32.3
tqdm==4.67.1
transformers==4.51.3
uvicorn==0.34.2
uvloop==0.21.0
diffusers==0.33.1
accelerate==1.6.0